@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kendo UI CRUD Test</h1>
    <p>Contoh Grid <a href="http://localhost:48983/barang">Tabel Barang</a>.</p>
</div>
